body{
    background-image: url(./background.webp) ;
    background-size: 100%;
}

.timer{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 600%;
    color: azure;
    margin-top: 80px;
}

button{
 font-size: 200%; 
 margin-left: 435px;
 margin-top: 270px;
 height: 100px;
 width: 100px;
 border-radius: 50%;
 box-shadow:   10px 5px 5px grey;
}
.start {

   
   
}

.clear {
    
}